.mainContainer {
    padding: .4rem;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    min-width: 100vw;
}

.oneLine {
    border: 2px dotted white;
    padding: 1rem;
    display: inline;
}

.chordContainer {
    border: 2px solid blue;
    padding: .05rem;
}

.lyricContainer {
    border: 2px solid green;
    padding: 0.5 rem;
}