.mainContainer {
	padding: 0.4rem;
	display: flex;
	flex-direction: column;
	min-width: 100vw;
}

.section {
	padding: 1rem;
	display: inline;
}

.lyricContainer {
	border: 0.5px solid white;
	padding: 0.5 rem;
	width: max-content;
	margin: auto;
}
